---
---
@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'neat/neat';
@import 'base/base';

// Global

.container {
  padding-left: 1em;
  padding-right: 1em;
  @include outer-container();
}

.container-thin {
  max-width: 35em;
}

.group {
  padding-top: 6em;
  padding-bottom: 6em;
}


// Header

.global-nav {
  @extend .container;
  padding-top: .5em;
}

.global-nav__logo {
  background: url('../images/logo.png') no-repeat;
  display: inline-block;
  height: 50px;
  width: 220px;
  background-size: contain;
  text-indent: -999em;

  @include media(max-width em(550)) {
    height: 50px;
    width: 45px;
    background-size: 220px auto;
    text-indent: -999em; 
  }
}

.global-nav__links {
  display: inline-block;
  float: right;
  padding-top: .8em;

  @include media(em(375)) {
    padding-top: 1em;
  }
}

.global-nav__links--item {
  display: inline-block;
  margin-left: .75em;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: .7em;


  @include media(em(375)) {
    font-size: .8em;
  } 

  @include media($medium-screen) {
    margin-left: 1.5em;
  }

  &:first-child { margin-left: 0; }
  &:hover a { color: #93c645; }
  span { @include media(max-width em(660)) { display: none; }}
  a { color: #999; }
}

// Hero / Closing

.closing__lead,
.hero__lead {
  font-size: 1.1em;
}

.hero__content {
  width: 65%;

  @include media($medium-screen) {
    width: 55%;
    padding-top: 100px;
    height: 400px;
  }
}

.home .hero__content {
  z-index: 1;
  position: relative;
}

.hero__cta,
.closing__cta {
  font-size: 1.2em;
  margin-top: .5em;
  padding: 1em 1.5em 1.1em;
}

.closing {
  text-align: center;
  background: #333;
  color: white;
  padding-bottom: 300px;
}

// Block elements

.block {
  @include row;
  text-align: center;
  padding-top: 2em;
}

.block__item {
  margin-bottom: 4em;

  p {
    max-width: 15em;
    margin: 0 auto 1em;
  }

  @include media($medium-screen) {
    @include span-columns(4);
    margin-bottom: 0;
  }
}


// Page: Home

.proof {
  background: #eee;
  padding: 1em 0;
  text-align: center;
}

.who__content {
  padding: 3em;

  @include media($large-screen) {
    width: 50%;
    max-width: 30em;
    float: left;
  }
}

.who {
  @include row;
}

.who__video {
  background: #222;
  text-align: center;
  height: 230px;
  overflow: hidden;
  background: url('images/home-who-video.jpg');
  background-size: cover;

  .wistia_embed {
    width: 100% !important;
    height: 100% !important;
  }

  .wistia_embed img { opacity: 0 !important; }

  @include media($large-screen) {
    width: 50%;
    float: left;
    min-height: 520px;
  }
}

.checklist {
  margin-bottom: 1em;
}

.resources {
  text-align: center;
  background: #eee;
}


.the313-modal,
.course-modal {
  position: fixed;
  background: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 0;
  z-index: -1;
  overflow: hidden;
  @include transition(opacity 0.5s ease-in-out);

  h2 {
    font-size: 2.5em;
    line-height: .95;
    margin-bottom: .5em;
  }

  .modal-content {
    max-width: 42em;
    background: white;
    margin: 0 auto 0;
    padding: 3em;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @include transition(all 0.75s ease-in-out);
  }

  &.visible {
    opacity: 1;
    height: 100%;
    z-index: 2;

    .modal-content {
      margin-top: 0em;
    }
  }
}

.the313-modal {
  background: #93c645 url('../images/exit-bg.jpg');
  background-size: cover;

  .label {
    color: #939393;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: .5em;
  }

  .modal-content {
    background: white url('../images/exit-ryan.jpg') no-repeat left;
    background-size: 265px auto;
    padding: 3em 3em 3em 19em;

    &:before,
    &:after {
      content: '';
      width: 100px;
      height: 100px;
      display: block;
      background: url('../images/exit-postit1.png') no-repeat;
      background-size: contain;
      position: absolute;
    }
    &:before {
      left: -35px;
    }
    &:after {
      background: url('../images/exit-postit2.png') no-repeat;
      background-size: contain;
      right: -30px;
      bottom: 10px;
    }
  }

  &.modal-exit ._form_9 {
    display: none;
  }

  #_form_9_submit {
    width: auto;
  }

  &#ouibounce-modal {
    opacity: 1;
    display: none;
    height: 100%;
    z-index: 2;
  }

  &.alt {
    ._form_9 {
      display: block;
    }
    
    .modal-button-pre,
    .modal-desc {
      display: none;
    }
  }
}

.questions,
.answers,
.point,
.downer {
  padding-bottom: 2em;
  padding-top: 1em;

  li {
    padding-bottom: .25em;
    padding-left: 20px;
  }
}

.answers li,
.point li { padding-left: 25px; }

.questions li:before {
  content: '❓';
  padding-right: .5em;
  margin-left: -20px;
}

.answers li:before {
  content: '👍';
  padding-right: .5em;
  margin-left: -25px;
  display: inline-block;
  overflow: hidden;
  width: 25px;
}

.point li:before {
  content: '👉';
  padding-right: .5em;
  width: 25px;
  overflow: hidden;
  margin-left: -25px;
  display: inline-block;
}

.downer li:before {
  content: '👎';
  padding-right: .5em;
  margin-left: -20px;
}

h1.subheading {
  text-align: center;
  padding-bottom: 1em;
}

.about .single {
  font-size: 1.1em;
}

.single h2 {
  padding-top: 2em;
}

.single__lead {
  text-align: center;
  max-width: 40em;
  margin: -3em auto 2em;
}

.about .closing {
  margin-top: -11em;
}

.wistia_embed {
  max-width: 100%;
}

form {
  padding: 0 !important;
  margin-top: 0 !important;
  max-width: 100% !important;

  ._form-title {
    font-size: 21px !important;
    line-height: 1.3 !important;
    text-align: center !important;
    margin-bottom: 1em !important;
  }

  ._button-wrapper._full_width button {
    width: 100%;
    padding: 1em !important;
  }

  input {
    height: 35px !important;
  }
}

.hero__content_alt {
  text-align: center;

  h1 {
    max-width: 15em;
    margin: 0 auto 1em;
  }

  .hero__lead {
    text-align: center;
  }

  .checklist > li {
    background: #eee;
    padding: 1em 1em 0;
    text-align: left;
    font-size: .875em;

    &:last-of-type {
      padding-bottom: 1em;
    }

    @include media($medium-screen) {
      padding: 1em;
      @include span-columns(4);
      border-radius: $base-border-radius;
    }
    
    @include media($large-screen) {
      font-size: 1em;
    }
  }

  .hero__cta {
    margin: 1em auto 0;
  }

  .checklist > li li {
    list-style: disc;
    margin-left: 1.5em;
  }
}

.home .hero {
  padding-top: 3em;

  @include media(em(570)) {
    background: url('../images/home-hero-bg.jpg') no-repeat center top;
    background-size: 1400px auto;
  }

  @include media(em(600)) {
    padding-top: 0;
  }


  @include media(em(1000)) {
    padding-top: 6em;
  }
}

.home .hero .container {
  position: relative;
}

.home .hero .container:after {
  content: '';
  display: block;
  width: 300px;
  height: 450px;
  background: url('../images/home-hero.png') no-repeat;
  background-size: 280px auto;
  margin-top: 20px;

  @include media(em(420)) {
    width: 370px;
    background-size: 578px auto;
    position: absolute;
    right: 0px;
    bottom: -96px;
    opacity: .2;
  }

  @include media(em(570)) {
    width: 340px;
    background-size: 578px auto;
    bottom: -96px;
    opacity: 1;
    height: 360px;
  }

  @include media(em(650)) {
    width: 430px;
    background-size: 648px auto;
    height: 450px;
  }

  @include media(em(830)) {
    width: 510px;
    height: 500px;
  }

  @include media(em(900)) {
    width: 570px;
    height: 440px;
    background-size: 568px auto;
  }

  @include media(em(1040)) {
    width: 640px;
    height: 500px;
    background-size: 648px auto;
    right: -70px;
  }
}

.modal-close {
  position: absolute;
  right: -.5em;
  top: -.5em;
  background: #222;
  color: white;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.5;

  &:hover {
    color: white;
    background: black;
  }
}
