---
---
@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'neat/neat';
@import 'base/base';

// Global

.container {
  padding-left: 1em;
  padding-right: 1em;
  @include outer-container();
}

.container-thin {
  max-width: 40em;
}

.group {
  padding-top: 6em;
  padding-bottom: 6em;
}


// Header

.nav-alt,
header:not(.home-header) {
  @include transition(all .25s ease);
  background: rgba(23, 161, 83, 0.98);
  padding-bottom: .5em;
  position: fixed;
  width: 100%;
  z-index: 4;
  top: -100px;
}
header:not(.home-header) {
  top: 0;
  position: relative;
}

header {
  position: relative;
  z-index: 2;
}

header.fixed {
  .nav-alt {
    top: 0;
  }
}

.global-nav {
  @extend .container;
  padding-top: .5em;
  height: 60px;
}

.home .global-nav__logo {
  background: url('../images/logo.png') no-repeat;
  background-size: contain;
}

.global-nav__logo,
.nav-alt .global-nav__logo {
  background: url('../images/logo-alt.png') no-repeat;
  display: inline-block;
  height: 50px;
  width: 220px;
  background-size: contain;
  text-indent: -999em;

  &.centered {
    margin: 0 auto;
    display: block;
  }

  @include media(max-width em(550)) {
    height: 50px;
    width: 45px;
    background-size: 220px auto !important;
    text-indent: -999em;
  }
}

.global-nav__links {
  display: inline-block;
  float: right;
  padding-top: .8em;
}

.home-header > .global-nav .global-nav__links--item {
  a { color: #999; }
}

.global-nav__links--item {
  display: inline-block;
  margin-left: .75em;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: .7em;

  @include media(em(375)) {
    font-size: .8em;
  }

  @include media($medium-screen) {
    margin-left: 1.5em;
  }

  &:first-child { margin-left: 0; }
  &:hover a { color: #93c645; }
  span { @include media(max-width em(660)) { display: none; }}
  a { color: white; }
}

// Hero / Closing

.closing__lead,
.hero__lead {
  font-size: 1.1em;
}

.hero__content {
  text-align: center;

  @include media(max-width em(570)) {
    max-width: 14em;
    margin: 0 auto;
    font-size: .8em;
  }

  @include media(em(570)) {
    width: 55%;
    text-align: left;
  }

  @include media($medium-screen) {
    width: 55%;
    padding-top: 100px;
    height: 400px;

    .hero__lead {
      max-width: 22em;
    }
  }

  @include media($medium-screen + 40) {
    padding-top: 150px;
  }
}

.home .hero__content {
  z-index: 1;
  position: relative;
}

.hero__cta,
.closing__cta {
  font-size: 1.2em;
  margin-top: .5em;
  padding: 1em 1.5em 1.1em;
}

.closing {
  text-align: center;
  background: #2f4043;
  color: white;
  padding-bottom: 300px;
}

// Block elements

.block {
  @include row;
  text-align: center;
  padding-top: 2em;
}

.block__item {
  margin-bottom: 4em;

  p {
    max-width: 15em;
    margin: 0 auto 1em;
    color: $base-font-color;
  }

  h3 {
    color: $base-font-color;
  }

  @include media(max-width $medium-screen) {
    @include row;

    &:last-child { margin-bottom: 0; }
  }

  @include media($medium-screen) {
    @include span-columns(4);
    margin-bottom: 0;
  }
}

a.block__item {
  &:hover .button {
    background-color: $blue;
    color: #fff;
  }

  &:hover img {
    background: white;
    @include transform(scale(1.08) rotate(2deg));
  }
}


// Page: Home

.proof {
  background: #f8f9fa;
  padding: 1em 0;
  text-align: center;
}

.who__content {
  padding: 3em;

  @include media($large-screen) {
    width: 50%;
    max-width: 30em;
    float: left;
  }
}

.who {
  @include row;
}

.who-start {
  display: block;
}
.who-start {
  content: '►';
  text-indent: 0;
  display: block;
  width: 120px;
  height: 120px;
  background: rgba(0,0,0,.65);
  color: rgba(255,255,255,.8);
  border-radius: 100px;
  font-size: 60px;
  line-height: 2;
  margin: 0 auto;
  top: 40%;
  text-indent: 4px;
  position: absolute;
  left: 0;
  right: 0;
  @include transition(all .25s ease);
}
.who-start:hover {
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
}

.who__video {
  background: #222;
  text-align: center;
  height: 230px;
  overflow: hidden;
  background: url('../images/home-who-video.jpg') center;
  background-size: cover;
  position: relative;

  .wistia_embed {
    width: 100% !important;
    height: 100% !important;
  }

  .wistia_embed img { opacity: 0 !important; }

  @include media($large-screen) {
    width: 50%;
    float: left;
    min-height: 520px;
  }
}

.checklist {
  margin-bottom: 1em;
}

.resources {
  text-align: center;
  background: #f8f9fa;

  img {
    @include transition(all .25s ease);
    max-width: 150px;
    margin-bottom: 10px;
    background: #E6EAED;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    padding: 1.25em;
  }
}

.the313-modal,
.mediaroom-modal,
.doneforyou-modal,
.course-modal {
  position: fixed;
  background: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 0;
  z-index: -1;
  overflow: hidden;
  @include transition(opacity 0.5s ease-in-out);

  h2 {
    font-size: 1.5em;
    line-height: .95;
    margin-bottom: .5em;
    text-align: center;

    @include media($medium-screen) {
      font-size: 2.5em;
    }
  }

  .modal-content {
    max-width: 42em;
    background: white;
    margin: 0 auto 0;
    padding: 3em;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @include transition(all 0.75s ease-in-out);
  }

  &.visible {
    opacity: 1;
    height: 100%;
    z-index: 4;

    .modal-content {
      margin-top: 0em;
    }
  }
}

.course-modal,
.mediaroom-modal,
.doneforyou-modal {
  .modal-content {
    max-width: 24em;
  }

  h2 {
    @include media($medium-screen) {
      font-size: 2em;
    }
  }
}

.the313-modal {
  background: #93c645 url('../images/exit-bg.jpg');
  background-size: cover;

  h2 {
    @include media(min-width $large-screen max-width em(1250)) {
      font-size: 1.5em;
    }
  }

  .label {
    color: #939393;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: .5em;

    @include media(max-width $large-screen) {
      text-align: center;
    }
  }

  .modal-content {
    @include media(min-width $large-screen) {
      background: white url('../images/exit-ryan.jpg') no-repeat left;
      background-size: 265px auto;
      padding: 3em 3em 3em 19em;

      h2 { text-align: left; }
    }

    @include media(max-width $large-screen) {
      text-align: center;
    }

    &:before,
    &:after {
      content: '';
      width: 100px;
      height: 100px;
      display: block;
      background: url('../images/exit-postit1.png') no-repeat;
      background-size: contain;
      position: absolute;
    }
    &:before {
      left: -35px;
    }
    &:after {
      background: url('../images/exit-postit2.png') no-repeat;
      background-size: contain;
      right: -30px;
      bottom: 10px;
    }

    @include media(max-width $large-screen) {
      padding: 2em 1em 1em 1em;
      width: 90%;
      height: auto;

      &:before { display: none !important; }

      &:after {
        background-size: 70px;
        right: -50px;
        bottom: -20px;
      }
    }
  }

  &.modal-exit ._form_9 {
    display: none;
  }

  #_form_9_submit {
    width: auto;
  }

  &#ouibounce-modal {
    opacity: 1;
    display: none;
    height: 100%;
    z-index: 4;
  }

  &.alt {
    ._form_9 {
      display: block;
    }

    .modal-button-pre,
    .modal-desc {
      display: none;
    }
  }
}

.questions,
.answers,
.point,
.downer {
  padding-bottom: 2em;
  padding-top: 1em;

  li {
    padding-bottom: .25em;
    padding-left: 20px;
  }
}

.answers li,
.point li { padding-left: 25px; }

.questions li:before {
  content: '❓';
  padding-right: .5em;
  margin-left: -20px;
}

.answers li:before {
  content: '👍';
  padding-right: .5em;
  margin-left: -25px;
  display: inline-block;
  overflow: hidden;
  width: 25px;
}

.point li:before {
  content: '👉';
  padding-right: .5em;
  width: 25px;
  overflow: hidden;
  margin-left: -25px;
  display: inline-block;
}

.downer li:before {
  content: '👎';
  padding-right: .5em;
  margin-left: -20px;
}

h1.subheading {
  text-align: center;
  padding-bottom: 1em;
}

.subheading-meta {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .75em;
  margin-bottom: .75em;
  display: block;
  opacity: .5;
}

.single {
  font-size: 1.1em;

  @include media(em(700)) {
    border-left: 30px solid #f8f9fa;
    border-right: 30px solid #f8f9fa;
    border-bottom: 30px solid #f8f9fa;
  }
  @include media($large-screen) {
    border-left: 90px solid #f8f9fa;
    border-right: 90px solid #f8f9fa;
    border-bottom: 90px solid #f8f9fa;
  }
}

.onboard .single {
  border: none;

  .container-thin {
    max-width: 30em;
  }
}

.single h2 {
  padding-top: 2em;
}

.single__lead {
  text-align: center;
  max-width: 40em;
  margin: -3em auto 2em;
}

.about .closing {
  margin-top: -11em;
}

.wistia_embed {
  max-width: 100%;
}

form {
  padding: 0 !important;
  margin-top: 0 !important;
  max-width: 100% !important;

  ._form-title {
    font-size: 19px !important;
    line-height: 1.3 !important;
    text-align: center !important;
    margin-bottom: 1em !important;
  }

  ._button-wrapper._full_width button {
    width: 100%;
    padding: 1em !important;
  }

  input {
    height: 35px !important;
  }
}

.hero__content_alt {
  text-align: center;

  h1 {
    max-width: 15em;
    margin: 0 auto 1em;
  }

  .hero__lead {
    text-align: center;
  }

  .checklist {
    @include row;
    margin-top: 2em;
  }

  .checklist > li {
    background: #eee;
    padding: 1em 1em 0;
    text-align: left;
    font-size: .875em;

    @include media(max-width $medium-screen) {
      padding: 1em 1em 1.5em;
      margin-bottom: 1em;
    }

    h4:before {
      display: inline-block;
      content: '';
      width: 28px;
      height: 25px;
      position: relative;
      top: 7px;
      left: -3px;
    }

    &:nth-child(1) {
      background: #F4F9FC;

      h4:before {
        background: url('../images/course-icon-1.png') no-repeat;
        background-size: contain;
      }
    }

    &:nth-child(2) {
      background: #EDF8F5;

      h4:before {
        background: url('../images/course-icon-2.png') no-repeat;
        background-size: contain;
      }
    }

    &:nth-child(3) {
      background: #FAF7EB;

      h4:before {
        background: url('../images/course-icon-3.png') no-repeat;
        background-size: contain;
      }
    }

    &:last-of-type {
      padding-bottom: 1em;
    }

    @include media($medium-screen) {
      padding: 1.5em;
      @include span-columns(4);
    }

    @include media($large-screen) {
      font-size: 1em;

      ul {
        margin-left: 7px;
      }

      li { font-size: .9em; }
    }
  }

  .hero__cta {
    margin: 1em auto 0;
  }

  .checklist > li li {
    list-style: disc;
    margin-left: 1.5em;
  }
}

.home .hero {
  padding-top: 3em;
  padding-bottom: 3em;
  background: url('../images/home-hero-bg-small.jpg') no-repeat center -40px;
  background-size: 2000px;

  h1 span { color: #557328; }

  h1 { font-size: 1.5em; margin-top: 80px; }

  @include media(em(350)) {
    background-size: 600px auto;
    background-position: center -40px;
  }

  @include media(em(500)) {
    background-size: 830px auto;
  }

  @include media(em(570)) {
    background: url('../images/home-hero-bg.jpg') no-repeat center top;
    background-size: 1000px auto;
    margin-top: -60px;
    padding-bottom: 6em;
  }

  @include media(em(600)) {
    padding-top: 0;
    background-size: 1000px auto;

    h1 { font-size: 2.4em; margin-top: 0; }

    h1 span { display: block; }
  }


  @include media(em(1000)) {
    padding-top: 6em;
    background-size: 1400px auto;
  }
}

.home .hero .container {
  position: relative;
}
/*
.home .hero .container:after {
  content: '';
  display: block;
  width: 300px;
  height: 450px;
  background: url('../images/home-hero.png') no-repeat;
  background-size: 280px auto;
  margin-top: 20px;

    width: 370px;
    background-size: 578px auto;
    position: absolute;
    right: 0px;
    bottom: -96px;
    opacity: .2;

  @include media(em(570)) {
    width: 340px;
    background-size: 578px auto;
    bottom: -96px;
    opacity: 1;
    height: 360px;
  }

  @include media(em(650)) {
    width: 430px;
    background-size: 648px auto;
    height: 450px;
  }

  @include media(em(830)) {
    width: 510px;
    height: 500px;
  }

  @include media(em(900)) {
    width: 570px;
    height: 440px;
    background-size: 568px auto;
  }

  @include media(em(1040)) {
    width: 640px;
    height: 500px;
    background-size: 648px auto;
    right: -70px;
  }
}
  */

.modal-close {
  position: absolute;
  right: .5em;
  top: -.5em;
  background: #222;
  color: white;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.5;

  @include media($medium-screen) {
    right: -.5em;
  }

  &:hover {
    color: white;
    background: black;
  }
}


.you {

  .lenny {
    @include media(em(1100)) {
      width: 450px;
      height: 450px;
      position: fixed;
      bottom: 0;
      left: 0;
      background: url('../images/form-leonard.jpg') bottom left no-repeat;
      background-size: contain;
    }

    @include media(em(1200)) {
      width: 550px;
      height: 550px;
    }
  }

  .ryan {
    @include media(em(1100)) {
      width: 550px;
      height: 550px;
      position: fixed;
      bottom: 0;
      right: 0;
      background: url('../images/form-ryan.jpg') bottom right no-repeat;
      background-size: contain;
    }

    @include media(em(1200)) {
      width: 650px;
      height: 650px;
    }
  }

  p, form {
    position: relative;
    z-index: 1;
  }

  form {
    margin: 0 !important;
  }

  ._form-branding,
  ._x63742661,
  ._form-title,
  ._x30415724 ._form-label { display: none !important; }

  input[type="radio"],
  input[type="checkbox"] {
    display: inline;
    height: 15px !important;
    position: relative;
    top: 2px;

    & + span {
      color: #555;
      cursor: pointer;

      label {
        font-weight: 500;
        cursor: pointer;
        width: 100%;
        display: block;
        padding: 1em;
        background: #eee;
        border-radius: $base-border-radius;
      }

      label:hover {
        background: #ddd;
      }

      label:before {
        @include transition(opacity, .25s, linear);
        content: '';
        display: inline-block;
        background: url('../images/quiz-tick.png') no-repeat;
        opacity: 0;
        background-size: 11px;
        width: 0px;
        height: 10px;
        margin-right: 0;
      }
    }

    &:checked + span {
      color: white;
      label {
        background: shade($green, 10) !important;
      }

      label:before {
        width: 10px;
        opacity: 1;
        margin-right: 10px;
      }
    }
  }

  ._row label {
    display: inline;
  }

  ._form-label {
    font-size: 18px !important;
    margin-top: 30px !important
  }
}


#step-0 {
  position: relative;
  z-index: 4;
  text-align: center;
}

.you.onboard ._form-label {
  font-size: 30px !important;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 25px !important;
  line-height: 1;
  margin-top: 0 !important;

  @include media(max-width $medium-screen) {
    font-size: 16px !important;
    padding-top: 25px !important;
  }
}

.you.onboard h1 { padding-bottom: 0 !important; }

.quiz-steps {
  @include media(max-width $medium-screen) {
    padding-top: 0;
  }

  .container {
    position: relative;
  }

  ._form-label {
    padding-top: 10px !important;
  }

  &.step0 {
    @include media(max-width $medium-screen) {
      padding-right: 1em;

      p { font-size: .8em; }

      #quiz-advance { width: 95% !important; }
    }
  }

  h1 {
    margin-top: 5px;

    @include media(max-width $medium-screen) {
      margin-top: 16px;
      font-size: 1.2em !important;
    }
  }

  #quiz-advance {
    @include transition(all, .5s, linear);
    position: absolute;
    opacity: 1;
    z-index: 3;
    text-align: center;
  }

  &.step0 #quiz-advance { top: 230px; left: 18px; right: 0; width: 100%; }
  &.step1 #quiz-advance { top: 505px; left: 18px; width: 120px; }
  &.step2 #quiz-advance { top: 260px; }
  &.step3 #quiz-advance { top: 260px; }
  &.step4 #quiz-advance { top: 260px; }
  &.step5 #quiz-advance { top: 230px; }
  &.step6 #quiz-advance { top: 260px; opacity: 0; }

  @include media(max-width $medium-screen) {
    &.step1 #quiz-advance { top: 540px; }
    &.step5 #quiz-advance { top: 245px; }
  }

  #step-0,
  ._field11,
  ._field19,
  ._field16,
  ._field17,
  ._field18,
  ._x06894421, ._x30415724, ._x30415724, ._button-wrapper {
    @include transition(all, .5s, linear);
    position: absolute !important;
    opacity: 0;
    top: -10px;
    z-index: -1;
    overflow: hidden;
    max-height: 0;
  }

  &.step0 #step-0,
  &.step1 ._field11,
  &.step2 ._field19,
  &.step3 ._field16,
  &.step4 ._field17,
  &.step5 ._field18 {
    opacity: 1;
    top: 0;
    z-index: 1;
    max-height: 600px;
  }

  &.step6 ._x06894421,
  &.step6 ._x30415724,
  &.step6 ._button-wrapper {
    top: 0;
    opacity: 1;
    position: relative !important;
    z-index: 1;
    max-height: 600px;
  }

  input[type="checkbox"],
  input[type="radio"] { display: none !important; }

  input[type="text"] {
    height: 40px !important;
    font-size: 1.2em !important;
    padding-left: .5em !important;
    outline: none !important;

    &:focus {
      border: 1px solid $green !important;
    }
  }
}
