# Numerous always-ignore extensions
*.ai
*.zip
*.psd
*.diff
*.vi
*~
*.swp
*.sass-cache
.sass-cache
.sass-cache/*

# Files to ignore

# OS or Editor folders
.DS_Store
Thumbs.db

# Hide output site for GitHub Pages
_site
